<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  
  <form th:action="@{/user/signup}" method="post">
    <div>
      <label for="userId">아이디</label>
      <input type="text" name="userId" id="userId">
    </div>
    <div>
      <label for="userName">이름</label>
      <input type="text" name="userName" id="userName">
    </div>
    <div>
      <label for="userPassword">비밀번호</label>
      <input type="password" name="userPassword" id="userPassword">
    </div>
    <div>
      <label for="userRole">권한</label>
      <select name="userRole" id="userRole">
        <option value="ADMIN">관리자</option>
        <option value="USER" selected>일반회원</option>
      </select>
    </div>
    <div>
      <button type="submit">회원가입</button>
    </div>
  </form>
  
  <script th:inline="javascript">
    const message = /*[[${message}]]*/ null;
    if (message !== null)
      alert(message);
  </script>
  
</body>
</html>