<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- axios 라이브러리 사용을 위한 CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
  
  <button type="button" id="btn1">요청1</button>
  <script>
    function fnAxiso1() {
      // GET 방식의 요청
      const responsePromise = axios.get('/book/list');
      //console.log(response);
      responsePromise.then((response) => {
        console.log(response.config);
        console.log(response.headers); 
        console.log(response.data); // 실제 응답된 데이터를 의미합니다.
        console.log(response.status); // 응답 코드
        console.log(response.statusText); // 응답 코드의 텍스트 값
      })
    }
    
    document.getElementById('btn1').addEventListener('click', fnAxiso1);
  </script>
  <hr/>
  
  <input type="text" id="word">
  <button type="button" id="btn2">요청2</button>
  
  <script>
  
    function fnAxios2() {
      axios.get("/book/detail", {
        // 요청 파라미터
        params: {
          word: document.getElementById('word').value
        }
      }).then(response => {
        console.log(response.headers);
        console.log(response.data);
        console.log(response.status);
      })
    }
    document.getElementById('btn2').addEventListener('click', fnAxios2);
  </script>
  <hr/>
  
  <input type="text" id="title" placeholder="제목">
  <input type="text" id="author" placeholder="저자">
  <button type="button" id="btn3">요청3</button>
  
  <script>
  
   function fnAxios3() {
     
      const data = {
          title: document.getElementById('title').value,
          author: document.getElementById('author').value
        }
      
        // 요청 본문(body)에 데이터 보내기 (Get 방식은 불가함)
      axios.post('/book/regist', data)
             .then(response => {
               console.log(response.data);
             })
             .catch(error => {
               console.log(error.response.data);
             })
    }
    document.getElementById('btn3').addEventListener('click', fnAxios3);
  </script>
</body>
</html>