<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  
  <form th:action="@{/auth/login}" method="post">
    <div>
      <label for="userId">아이디</label>
      <input type="text" name="userId" id="userId">
    </div>
    <div>
      <label for="userPassword">비밀번호</label>
      <input type="password" name="userPassword" id="userPassword">
    </div>
    <div>
      <button type="submit">로그인</button>
    </div>
  </form>
  
  <script th:inline="javascript">
    const message = /*[[${message}]]*/ null;
    if (message !== null)
      alert(message);
    
    const loginfailmessage = /*[[${param.loginfailmessage}]]*/ null;
    if(loginfailmessage !== null) {
      alert(loginfailmessage);
      location.replace("/auth/login");
    }

    // location.replace('경로') : 히스토리를 남기지 않고 이동하는 방식 (로그인 후 다시 로그인 페이지로 돌아오지 않도록 적절한 처리를 할 때 사용해 보세요.)
  </script>
</body>
</html>